<div [@routerTransition]>
    <app-page-header [heading]="'Clientes'" [icon]="'fa-users'"></app-page-header>

    <div class="row">
        <div class="col-lg-12">
            <form role="form" class="form-inline">
                <div class="form-group">
                    <select class="form-control">
                        <option value="" selected disabled>Tipo de Documento</option>
                        <option value="1">DNI</option>
                        <option value ="2">RUC</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Número de Documento" >
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
            <div class="card bg-light mb-3">
                <div class="card-header">Gustavo Mora</div>
                <div class="card-body">
                    <h4 class="card-title  text-danger">Activo</h4>
                    <p class="card-text">Código SBS : 008413134</p>
                    <p class="card-text">Clasificación SBS: 99</p>
                    <p class="card-text">Clasificacion BCP: 100</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Motivos</div>
                <table class="card-body table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr *ngFor="let arch of archives; let i = index">
                            <th scope="row">{{i}}</th>
                            <td>{{ arch.id }}</td>
                            <td>{{arch.name}}</td>
                            <td [ngClass]="(arch.type == 'CN') ? 'text-danger' : 'text-success'">{{arch.type}}</td>
                    </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>